#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr [drawingColumns]);
    grid-template-rows: repeat(16, 1fr [drawingRows]);
}

.drawingSpace{
    margin: 0px ;
    padding: 1px;
}